{
  "name": "{{appName}}",
  "version": "0.0.1",
  "description": "",
  "main": "dist/bundle.js",
  "scripts": {
    "test": "ava",
    "upgrade": "mili upgrade",
    "clean": "rm -rf ./dist/*",
    "build": "npm run clean & webpack",
    "prepublishOnly": "npm test; npm run build",
    "precommit": "npm test"
  },
  "engines": {
    "node": ">=8.9.4"
  },
  "mili": {
    "type": "component",
    "encoding": "{{encoding}}"
  },
  "ava": {
    "files": [
      "test/**/*.js"
    ],
    "sources": [
      "src/**/*.js"
    ],
    "failFast": true,
    "require": [
      "babel-register"
    ]
  },
  "devDependencies": {
    "ava": "^1.0.0-beta.4",
    "babel-core": "^6.26.0",
    "babel-loader": "^7.1.4",
    "babel-plugin-external-helpers": "^6.22.0",
    "babel-plugin-transform-object-rest-spread": "^6.26.0",
    "babel-preset-env": "^1.6.1",
    "babel-register": "^6.26.0",
    "mili": "{{miliVersion}}",
    "webpack": "^4.5.0",
    "webpack-bundle-analyzer": "^2.11.1",
    "webpack-cli": "^2.0.14",
    "webpack-merge": "^4.1.2",
    "webpack-node-externals": "^1.7.2"
  },
  "dependencies": {}
}
