# {{appName}}

[![version](https://img.shields.io/npm/v/{{appName}}.svg?style=flat-square)](https://www.npmjs.com/package/{{appName}})
[![downloads](https://img.shields.io/npm/dm/{{appName}}.svg?style=flat-square)](https://www.npmjs.com/package/{{appName}})
[![dependencies](https://img.shields.io/david/Val-istar-Guo/{{appName}}.svg?style=flat-square)](https://www.npmjs.com/package/{{appName}})
